@use '../abstracts';

footer {
	background-color: abstracts.$green-press-wp-footer-bg-color;

	.site-info {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 0;
		flex-wrap: wrap;
		gap: 10px;

		.site-footer-content {
			color: abstracts.$green-press-wp-footer-text-color;

			p {
				color: abstracts.$green-press-wp-footer-text-color;
				text-align: center;
			}

			a {
				display: flex;

				img {
					height: 30px;
				}
			}
		}

		&:has(.site-social-icon) {
			justify-content: space-between;

			@include abstracts.media-breakpoint(max-400) {
				gap: 15px;
			}

			.site-footer-content {
				p {
					text-align: left;

					@include abstracts.media-breakpoint(max-400) {
						text-align: center;
					}
				}
			}
		}

		@include abstracts.media-breakpoint(max-400) {
			flex-direction: column;
		}

		ul li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: abstracts.$green-press-wp-footer-text-color;
				font-size: 16px;
				text-decoration: 1.5px underline;
				text-decoration-color: abstracts.$green-press-wp-footer-text-color;
			}
		}


		.site-social-icon {
			display: flex;

			.social-link-label {
				font-size: 16px;
				font-weight: 400;
				color: abstracts.$green-press-wp-footer-text-color;
			}

			svg {
				fill: #fff;
				position: relative;
				top: 7px;
			}

			a {
				text-decoration: none;
			}

			li {
				a {
					display: flex;
				}
			}
		}
	}
}